/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* top part  */
body {
    background-color: #9F9F9F;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    width: 870px;
    background-color: #FFFFFF;
    padding: 2%;
    border-radius: 2%;
}

.top-title-1 {
    color: #562EFF;
}

/* reviewr part */

.top-reviewers {

    border-bottom: 2px solid rgb(241, 241, 241);
}

.reviewers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 16px;

}

.reviewer img {
    width: 56px;
    height: 56px;

}

.reviewer {
    display: flex;
    align-items: center;
}

.player-name {
    margin-left: 16px;
}

/* top review part */
.top-title-2 {
    color: #562EFF;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rev-tex {
    padding: 16px;
}

.review img {
    width: 177px;
    height: 117px;

}

.review-for {
    color: #562EFF;

}

/* second part */

.sec-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-part {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 870px;
    border-radius: 2%;
    margin: 20px;
    padding: 32px;



}

.sec-title-1 {
    color: #562EFF;
}

.tours {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;

}

.sec-part-img {
    width: 224px;
    height: 104px;
    border-radius: 4px;
}