/* top part  */

.reviewers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.reviewer img {
    width: 56px;
    height: 56px;

}

.reviewer {
    display: flex;
    align-items: center;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.review {
    display: flex;
    align-items: center;
}

.review img {
    width: 177px;
    height: 117px;

}